body {
    background-image: url("../img/italo.jpg");
    background-size: cover;
}

.bg-logo {
    background-color: #a6160a;
    
}

.bg-logo img {
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
    width: 50%;
}

